@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Permanent+Marker', sans-serif;
}

body{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
	background: #111;
}

h1{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 30px;
	font-size: 3em;
	color: #fff;

}

.banner{
	position: relative;
	width: 1200px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
	border-radius: 20px;
	box-shadow: inset 5px 5px 5px rgba(247, 191, 190, 0.2),
	 inset -5px -5px 15px rgba(255,255,255,0.1),
	 5px 5px 15px rgba(0,0,0,0.3),
	 -5px -5px 15px rgba(247, 191, 190, 0.1);
	

}


.search-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3640;
	width: 340px;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	overflow: hidden;

}


.search-btn{
	color: #fff;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #0e1538;
	display: flex;
	justify-content: center;
	align-items: center;

}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 240px;

}