<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Main Menu</title>	
</head>
<body>
	<h1>Main Menu</h1>
	<div class="container">
		<div class="box">
			<span></span>
			<div class="content">
			<h2>Geolocation</h2>
			<p>A geolocation system determines the position of any object, person or vehicle with a margin of error of a few meters.</p>
			<br>
			<a href="/geo">To Go</a>
		    </div>
	    </div>
	</div>

	<div class="container">
		<div class="box">
			<span></span>
			<div class="content">
			<h2>IP Location</h2>
			<p>IP-based Geolocation is mapping of an IP address or MAC address to the real-world geographic location of an Internet-connected computing or a mobile device.</p>
			<br>
			<a href="/ip">To Go</a>
		    </div>
	    </div>
	</div>

	<div class="container">
		<div class="box">
			<span></span>
			<div class="content">
			<h2>Caller ID</h2>
			<p>Phone number validation and information search in portable JSON format with just one request using a simple URL. </p>
			<br>
			<a href="/id">To Go</a>
		    </div>
	    </div>
	</div>>		
	

</body>
</html>